<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %> | Ruby on Rails Tutorial Sample app </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <%= link_to("sample app", '#', id: 'logo')  %>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"> <%= link_to("Home", "#", class:'nav-link')%></li>
        <li class="nav-item"><%= link_to("Help", "#", class:'nav-link')%></li>
        <li class="nav-item"><%= link_to("About", "#", class:'nav-link')%></li>
      </ul>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
